<table>
  <tr>
      <td>Before starting</td>
       <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
  </tr>
  <tr>
    <td>Morning 1</td> 
    <td> <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R: Data manipulation and analysis</a></td>
  </tr>
  <tr>
    <td>Morning 2</td> 
    <td> <a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data Visualization</a></td>
  </tr>
  <tr>
    <td>Afternoon 1</td> 
    <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td>
  </tr>
  <tr>
    <td>Afternoon 2</td> 
    <td> <a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td>
  </tr>
  <tr>
    <td>Evening</td> 
    <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
</table>
